
.Sauvegarder{
    margin-left: 10px;
}
.Next{
    margin-left: 10px; 
}
.Cancel{
    margin-right: 50px; 
}
.buttonFlex{
    position: absolute;
    right: 5%;
    bottom: -8%;
}
.btnAlert{
    //border-radius: 0px;
    margin-left: 10px;
}