@import "_variables";

.iconClose {
    text-align: right;
    vertical-align: top;
    text-align: top;
}

.iconCheck {
    text-align: center;
}

.addField {
    color: $greenColor;
}

.cameraField {
    color: $greenColor;
}
.logo-crm {
    position: fixed;
    top: 0px;
    left: 0px;
}