.addUser{
    border :  1px solid black;
    margin-left: 2%;
    margin-bottom: 0%;
    padding-top: 1%;
    margin-right: 2%;
}
.textAdd{
    padding-left:5%;
}
.ligne_verticale {
    width: 1px;
    border-left: 1px solid gray;
    height: 450px;
}
.UpdateUser{
    border :  1px solid black;
    margin-left: 2%;
    margin-bottom: 0%;
    padding-top: 1%;
    margin-right: 2%;
}
.react-confirm-alert{
    background-color: white;
}
.react-confirm-alert-overlay {
    background-color: rgb(71 65 65 / 90%);
}
.custom-ui{
    line-height: 50px;
}
.custom-ui p{
    text-align: center;
    margin : 0px 30px 30px 30px,
}
.custom-ui h5{
    text-align: center;
}
.costom-delete{
    line-height: 50px;
}
.custom-delete p{
    text-align: center;
}
.custom-delete h5{
    text-align: center;
}